.container {
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex {
  display: flex;
  align-items: center;
  height: 36rem;
  gap: 4rem;
  color: #6fee6f;
  margin-bottom: 1rem;
}

.barChart {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-right: 4rem;
  border-right: 1px dashed #ccc;
}

.totalExpense {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* .selectPeriod {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
} */

.allCardsText {
  font-size: 1.5rem;
  margin-top: 1rem;
  color: #777;
}

.allCardsText2 {
  font-size: 1.5rem;
  margin-top: 1rem;
  color: #777;
  text-align: center;
}

.accTransactions {
  display: flex;
  flex-direction: column;
}

.transactionTable {
  margin: 0 auto;
  width: 100%;
  margin-top: 0.7rem;
  margin-bottom: 8rem;
  display: flex;
  align-items: center;
}

.transactionTables {
  width: 70rem;
  border: 1px solid #ccc;

  font-size: 1.3rem;
}

.transactionTables tr {
  width: 100%;
  display: block;
}

.transactionTables tr:nth-of-type(even) {
  background-color: rgba(238, 228, 228, 0.541);
}

.flex2 {
  margin-top: 0.5rem;

  border-top: 1px dashed #ccc;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.pieChart {
  margin-top: -3rem;
  height: 45rem;

  border-right: 1px dashed #ccc;
}
