.container {
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5rem;
  padding-top: 4rem;
  min-height: 80rem;
  display: flex;
  align-items: center;
}

.barChart {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.totalExpense {
  margin: 0 auto;
  margin-top: 1rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.selectPeriod {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  margin-top: 10rem;
}

.allCardsText {
  margin-top: 1rem;
  color: #777;
}
