.header {
  position: sticky;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    0.25turn,
    rgb(1, 87, 183),
    rgb(82, 156, 128),
    rgb(164, 224, 72)
  );
}

.headerLogo {
  margin-left: 3rem;
  display: flex;
  align-items: center;

  gap: 2rem;
}

.headerLogo img {
  cursor: pointer;
}

.headerLogo img {
  height: 4rem;
  border-right: 1px solid rgb(255, 255, 255);
  padding-right: 2rem;
}

.headerLogo h1 {
  font-size: 2.5rem;
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
  text-align: center;
}

.pfmText {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 5rem;
}

.navButtons {
  font-size: 1.5rem;
  list-style: none;
  display: flex;
  gap: 3rem;
  cursor: pointer;
  transition: all 3000ms;
}

.navButtons li {
  text-align: center;
  min-width: 19rem;
  background-color: #fff;
  color: #292929;
  transition: all 300ms;
  padding: 1rem;
  border-collapse: collapse;
  margin-bottom: 2px;
  border-radius: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navButtons li:hover {
  background-image: linear-gradient(256deg, #1e95d6, #006cb7);
  color: #fff;

  border-radius: 1rem;
  margin-bottom: 2px;
}

.buttons {
  margin-right: 3rem;
}

.customerDetailText {
  text-align: end;
  margin-top: 1rem;

  margin-right: 4.5rem;
}

.form {
  width: 98%;
  right: 0;
}

.customerNumberInput {
  right: 0;
  margin: 0.5rem;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: end;
  gap: 1rem;
}

.loading {
  margin: 0 auto;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.instantText {
  color: #fff;
  margin-left: 0.4rem;
}
