.header {
  position: sticky;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 6rem;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    0.25turn,
    rgb(1, 87, 183),
    rgb(82, 156, 128),
    rgb(164, 224, 72)
  );
}

.headerLogo {
  margin-left: 3rem;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 2rem;
}

.headerLogo img {
  height: 4rem;
  border-right: 1px solid rgb(255, 255, 255);
  padding-right: 2rem;
}

.headerLogo h1 {
  font-size: 2.5rem;
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
  text-align: center;
}

.pfmText {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 5rem;
}

.navButtons {
  font-size: 1.5rem;
  list-style: none;
  display: flex;
  gap: 3rem;
  cursor: pointer;
  transition: all 3000ms;
}

.navButtons li {
  text-align: center;
  min-width: 19rem;
  background-color: #fff;
  color: #292929;
  transition: all 300ms;
  padding: 1rem;
  border-collapse: collapse;
  margin-bottom: 2px;
  border-radius: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navButtons li:hover {
  background-image: linear-gradient(256deg, #1e95d6, #006cb7);
  color: #fff;

  border-radius: 1rem;
  margin-bottom: 2px;
}

.buttons {
  margin-right: 3rem;
}

.customerNumberInput {
  margin: 2rem;
  width: 20%;
  display: flex;
  text-align: center;
  gap: 1rem;
}
